<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apptech.yohannes.paymentassistant" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/assistant"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.FillMobileActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CameraActivity"
            android:label="@string/title_activity_camera"
            android:parentActivityName=".activities.FillMobileActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apptech.yohannes.paymentassistant.activities.main" />
        </activity>
        <activity
            android:name=".activities.About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.FillMobileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apptech.yohannes.paymentassistant.activities.main" />
        </activity>

        <receiver android:name=".widgets.CheckBalance" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/check_balance_info" />
        </receiver>

        <activity
            android:name=".activities.NavigationDrawer"
            android:label="@string/title_activity_drawer" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>
